* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Times New Roman";
  }

  header {
    display: flex;
    flex-wrap: wrap;
    background-color: #702801;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height:20%;  
  }
  
  .sitename {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1vh;
    font-size: smaller;
    text-align: start;
    font-size: max(4vw, 2vh);
  }
  
  .sitename:visited { 
    text-decoration: none; 
    color: white;

  }

  .sitename:link {
    color: white;
  }
  .sitename:hover {
    color: white;
    font-size: 80px;
    font-size: max(5vw, 3vh);
  }
  .sitename:active {
    font-size: 80px;
    color: white;

  }
  .hovertest{
    display: none;
    font-size: 4px;
    padding: 0%;
    margin-top: 75px;
    background-color: WHITE;
    width: 5vw;
    margin-right: 1%;
    border: solid;
    border-color: black;
    border-width: 1vh;
   
  }
  
  .profile:hover .hovertest{
  display:flex;
  flex-direction:column;    
  padding: 0%;
  }
  
  .profile {
    margin-right: 2%;
    margin-top: 10px;
    background-color: white;
    border: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    height:max(4vw, 2vh);
    width: max(4vw, 2vh);
  }
  
  .search {
    background: black;
    background-color: #dcdcdc;
    border-color: black;
    width: 40vw;
    height: 25%;
    border: solid;
    border-radius: 1px;
    margin-top: 2%;
    margin-right: 10%;
    align-items: center;
  }
  
  .search:focus {
    outline: black;
    background-color: white;
  }

  


  