* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Times New Roman";
}
  
body {
  background-color: black;
  color: white;
}
 

.bigboy {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.top10 {
  height: 10%;
  margin-left: 4vh;
  margin-top: 5%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 3px;
}

.top10 p {
  padding: 1vw;
  font-size:  max(1.5vw,3vh);
  padding-left: 4vw;

}

.following {
  width: 35%;
  margin-left: 10%;
  margin-top: 6%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 5%;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10%;
  margin-top: 5%;
}

.suggestion:nth-child(n) {
  width: 100%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 5%;
  margin-left: 1%;
  margin-top: 5%;
  font-size: max(3vw, 2vh);
}

.maintitle {
  display: flex;
  flex-direction: row;
}


nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5%;

}


.column{
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: max(0.1vw,0.3vh);
}

.column a{
  
  font-size: max(3vw,2vh);


}

span{
margin-left: 10px;
}

.center-title{
display: flex;
justify-content: space-evenly;
gap: 1vw;

}

.center-title a{
  font-size: max(3vw,2vh);;
padding: 1vw;
  
  }

.beemovie{
  font-size: max(1.5vw,3vh);
  padding: 1vw;
}








/*
.suggestions suggestion:nth-child(3n) {
    Vart tredje suggestion element som ligger inuti ett element med klassen suggestions
}

.suggestion:nth-child(odd) {
    Alla udda suggestion element (i ordningen)
}

.suggestion.special {
    Saker som hr både suggestion och special
}
*/
