* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman";
}
header {
  display: flex;
  flex-wrap: wrap;
  background-color: #702801;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 25px;
}

.title {
  padding-left: 2%;
  padding-top: 1%;
  font-size: smaller;
  text-align: start;
  font-size: 17px;
}

.profile {
  margin-right: 2%;
  margin-top: 1.5%;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 50%;
  border-width: 1px;
  height: 12.5px;
  width: 12.5px;
}

.search {
  background: black;
  background-color: #dcdcdc;
  border-color: black;
  width: 25%;
  height: 25%;
  border: solid;
  border-radius: 1px;
  margin-top: 2%;
  margin-right: 10%;
  font-size: 4px;
  align-items: center;
}
.search:focus {
  outline: black;
  background-color: white;
}

.title {
  padding-left: 2%;
  padding-top: 1%;
  font-size: smaller;
  text-align: start;
  font-size: 17px;
}

body {
  background-color: black;
  color: white;
}

.loginbox {
  align-items: center;
  background-color: #702801;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 25%;
  border: solid;
  border-color: white;
  border-width: 1 px;
}

label {
  margin-left: 25%;
  font-size: 8px;
}
.username {
  width: 40%;

  font-size: 4px;
}

.pass {
  width: 40%;
  font-size: 4px;
  margin-bottom: 2%;
}

.loginbutton {
  font-size: 5px;
  width: 20px;
  
}
