* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Times New Roman";
}

body {
  background-color: black;
  color: white;
}
 
header {
  display: flex;
  flex-wrap: wrap;
  background-color: #702801;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height:20%;  
}

.sitename {
  padding-left: 2%;
  padding-top: 1%;
  font-size: smaller;
  text-align: start;
  font-size: 75px;
}

.hovertest{
  display: none;
  font-size: 4px;
  padding: 0%;
  width: 50px;
  height: 10px;
  margin-top: 75px;
  background-color: black;
  margin-right: 1%;
  border-width: 0%;
}

.profile:hover .hovertest{
display:flex;
flex-direction:column;  
color: white;
padding: 0%;
}

.profile {
  margin-right: 2%;
  margin-top: 10px;
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 50%;
  border-width: 1px;
  height: 75px;
  width: 75px;
}

.search {
  background: black;
  background-color: #dcdcdc;
  border-color: black;
  width: 25%;
  height: 25%;
  border: solid;
  border-radius: 1px;
  margin-top: 2%;
  margin-right: 10%;
  align-items: center;
}

.search:focus {
  outline: black;
  background-color: white;
}

.bigboy {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.top10 {
  height: 10%;
  width: 20%;
  margin-left: 2%;
  margin-top: 6%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 1px;
  font-size: 49px;
}

.following {
  width: 35%;
  margin-left: 10%;
  margin-top: 6%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 5%;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10%;
  margin-top: 5%;
}

.suggestion:nth-child(n) {
  width: 100%;
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 5%;
  margin-left: 1%;
  margin-top: 5%;
  font-size: 75px;
}

.maintitle {
  display: flex;
  flex-direction: row;
}


nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5%;

}


.column{
  background-color: #702801;
  border: solid;
  border-color: white;
  border-width: 5%;
}

.column a{
  
  font-size: 50px;


}

span{
margin-left: 10px;
}

.center-title{
display: flex;
justify-content: space-evenly;
gap: 10px;
margin-left: 135px;


}




/*
.suggestions suggestion:nth-child(3n) {
    Vart tredje suggestion element som ligger inuti ett element med klassen suggestions
}

.suggestion:nth-child(odd) {
    Alla udda suggestion element (i ordningen)
}

.suggestion.special {
    Saker som hr både suggestion och special
}
*/
